{% extends "base.html" %}

{% block content %}
{% for filme in filmes %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ filme.titulo }}</h5>
        <p class="card-text">{{ filme.descricao }}</p>
        {% for filme_visto in filmes_vistos %}
            {% if filme_visto.id == filme_id and filme_visto.visto %}
                <span class="badge text-bg-success">Visto</span>
            {% else %}
                <a href="{% url 'adicionar_filme' filme.id %}" class="btn btn-secondary">Adicionar</a>
            {% endif %}
        {% empty %}
            <a href="{% url 'adicionar_filme' filme.id %}" class="btn btn-secondary">Adicionar</a>
        {% endfor %}
    </div>
</div>
{% empty %}
<div class="d-flex justify-content-center">
    <h3>Nenhum Filme Encontrado</h3>
</div>
{% endfor %}
{% endblock content %}