{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <h1>Filmes Populares</h1>
</div>
{% for filme in filmes %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ filme.titulo }}</h5>
        <p class="card-text">{{ filme.descricao }}</p>
        {% if filme.id in id_filmes_vistos %}
            <span class="badge text-bg-success">Visto</span>
        {% else %}
            <a href="{% url 'adicionar_filme' filme.id %}" class="btn btn-secondary">Adicionar</a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock content %}