{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <h1>Meus Filmes</h1>
</div>
{% for filme in filmes %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ filme.titulo }}</h5>
        <p class="card-text">Review: {{ filme.review }}</p>
        <p class="card-text">Nota: {{ filme.nota }}/5</p>
        <a class="btn btn-outline-primary" href="{% url 'editar_filme' filme.filme_id %}">Editar</a>
    </div>
</div>
{% empty %}
<div class="d-flex justify-content-center">
    <h3>Você ainda não tem Filmes</h3>
</div>
{% endfor %}
{% endblock content %}